@model Profissional

@using (Html.BeginForm("Upsert", "Profissional", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.AntiForgeryToken()

<div class="form-group row">
    <div class="col-md-12">
        <label class="control-label">Nome do Profissional</label>
        <input type="text" id="Nome" name="Nome" class="form-control" value="@Model.Nome" />
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label class="control-label">CRN</label>
        <input type="text" id="CRN" name="CRN" class="form-control" value="@Model.CRN" />
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label class="control-label">Logo Empresa</label>
        <input type="file" id="LogoEmpresa" name="LogoEmpresa" class="form-control" />
    </div>
    <div class="col-md-6">
        @{
        if (!String.IsNullOrEmpty(@Model.LogoEmpresa))
        {
        <img src="~/images/@Model.LogoEmpresa" class="rounded mx-auto d-block img-max" alt="Sem foto">
        }
        }
    </div>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <label class="control-label">Assinatura</label>
        <input type="file" id="Assinatura" name="Assinatura" class="form-control" />
    </div>
    <div class="col-md-6">
        @{
        if (!String.IsNullOrEmpty(@Model.Assinatura))
        {
        <img src="~/images/@Model.Assinatura" class="rounded mx-auto d-block img-max NO-CACHE" alt="Sem foto">
        }
        }
    </div>
</div>
<div class="form-group row">
    <div class="col">
    <input type="button" value="Criar assinatura" class="btn btn-primary column-left" onclick="location.href='@Url.Action("Index", "Assinatura")'" />
    @* <input type="button" value="Atualizar app" class="btn btn-primary column-right" id="pwaUpdate" /> *@
    <input type="submit" value="Salvar" class="btn btn-primary column-right" role="button" />
    </div>
</div>
}