@model IEnumerable<AtendimentoNutricional>
    @using Microsoft.Extensions.Configuration
    @inject IConfiguration Configuration

    

<div class="myPartials">

    <div class="row">
        <div class="col">
            @Html.ActionLink("Novo Atendimento", "Create", "AtendimentoNutricional", new { id = ViewBag.PacienteId
            }, new { @class = "btn btn-primary", @role = "button", @id = "btnNovoAtendimento" })
        </div>
    </div>
    
    <table class="table" id="atendimentosTable">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var atendimento in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => atendimento.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => atendimento.Data)
                </td>
                <td class="none">
                    <a asp-route-id="@atendimento.Id" asp-controller="AtendimentoNutricional" asp-action="Details"
                        data-toggle="tooltip" title="Ver atendimento">
                        <span class="action-icons">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </a>
                    <a data-toggle="tooltip" title="Excluir atendimento" onclick="DeleteAtendimentoConfirm(@atendimento.Id)">
                        <span class="action-icons">
                            <i class="far fa-trash-alt"></i>
                        </span>
                    </a>
                    <a asp-route-id="@atendimento.Id" asp-controller="AtendimentoNutricional" asp-action="Edit"
                        data-toggle="tooltip" title="Editar">
                        <span class="action-icons">
                            <i class="fas fa-edit"></i>
                        </span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>