@using nutri.Enums;
@model AtendimentoNutricional

@{
ViewBag.Title = "Novo Atendimento";
TempData["PacienteId"] = ViewBag.Paciente.Id;
}

<h2>Atendimento Nutricional</h2>

@* @using (Html.BeginForm("Upsert", "AtendimentoNutricional", FormMethod.Post, new { @class = "form-inline"})) *@
@using (Html.BeginForm("Upsert", "AtendimentoNutricional"))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <partial name="_Paciente" model="ViewBag.Paciente" />

    <div class="container">
        <div class="col-md-12 mx-auto">
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label">Encaminhado por</label>
                    <input type="text" id="EncaminhadoPorInput" name="EncaminhadoPor" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">CID</label>
                    <input type="text" id="EncaminhadoPorInput" name="EncaminhadoPor" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label class="control-label col-md-12">Motivo da Conduta</label>
                    <input type="text" id="MotivoCondutaInput" name="MotivoConduta" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="control-label col-md-12">História Clínica</label>
                    <textarea id="HCInput" name="HistoriaClinica" rows="7" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="control-label col-md-12">Antecedentes</label>
                    @foreach (Antecedentes item in ViewBag.Antecedentes)
                    {
                    <div class="form-check">
                        @* var option = Enum.GetName(typeof(Antecedentes), item); *@
                        @* @Html.CheckBox("Antecedentes", (Model.Antecedentes.HasFlag(item)), new { value = item }) *@
                        @Html.CheckBox("Antecedentes", false, new { value = item , @class = "form-check-input"})
                        @Html.Label("Antecedentes", item.ToString(), new { @class = "form-check-label"})
                    </div>
                    }
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <label class="control-label col-md-12">Medicamentos</label>
                    <textarea id="HCInput" name="Medicamentos" rows="7" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label class="control-label">Data</label>
                    <input type="text" id="DataInput" name="Data" class="form-control hasDatePicker" autocomplete="off" />
                </div>
                <div class="col-md-6">
                    <label class="control-label col">Nome do Profissional</label>
                    <input type="text" id="ProfissionalInput" name="Profissional" class="form-control" value="@ViewBag.Profissional" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-primary" role="button" />
                    <input type="button" value="Cancelar" class="btn btn-primary" role="button" onClick="history.go(-1)" />
                    <input type="button" value="Limpar" class="btn btn-primary" role="button" onClick="$('form').get(0).reset()" />
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
<script type="text/javascript" src="~/js/atendimentonutricional.js"></script>
}