@using nutri.Enums;
@model AtendimentoNutricional

@{
ViewBag.Title = "Novo Atendimento";
TempData["PacienteId"] = ViewBag.Paciente.Id;
}

<h2>Atendimento Nutricional</h2>

@* @using (Html.BeginForm("Upsert", "AtendimentoNutricional", FormMethod.Post, new { @class = "form-inline"})) *@
@using (Html.BeginForm("Upsert", "AtendimentoNutricional"))
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <partial name="_Paciente" model="ViewBag.Paciente" />

    @Html.Hidden("Id")
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Encaminhado por</label>
            <input type="text" id="EncaminhadoPorInput" name="EncaminhadoPor" class="form-control"
                value="@Model.EncaminhadoPor" />
        </div>
        <div class="col-md-6">
            <label class="control-label">CID</label>
            <input type="text" id="CIDInput" name="CID" class="form-control" value="@Model.CID" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Motivo da Conduta</label>
            <input type="text" id="MotivoCondutaInput" name="MotivoConduta" class="form-control"
                value="@Model.MotivoConduta" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">História Clínica</label>
            <textarea id="HCInput" name="HistoriaClinica" rows="7"
                class="form-control">@Model.HistoriaClinica</textarea>
        </div>
    </div>
    <label class="control-label">Antecedentes</label>
    <div class="form-check">
        @Html.CheckBoxFor(m => m.Diabetes, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.Diabetes, new {@class = "form-check-label"})

        @Html.CheckBoxFor(m => m.Hipertensao, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.Hipertensao, new {@class = "form-check-label"})

        @Html.CheckBoxFor(m => m.Hipertrigliciridemia, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.Hipertrigliciridemia, new {@class = "form-check-label"})

        @Html.CheckBoxFor(m => m.Hipercolesterolemia, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.Hipercolesterolemia, new {@class = "form-check-label"})

        @Html.CheckBoxFor(m => m.Hipotireoidismo, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.Hipotireoidismo, new {@class = "form-check-label"})

        @Html.CheckBoxFor(m => m.EsteatoseHepatica, new {@class = "form-check-input"})
        @Html.LabelFor(m => m.EsteatoseHepatica, new {@class = "form-check-label"})
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Medicamentos</label>
            <textarea id="HCInput" name="Medicamentos" rows="7" class="form-control">@Model.Medicamentos</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Data</label>
            <input type="text" id="DataInput" name="Data" class="form-control hasDatePicker" autocomplete="off"
                value="@Model.Data" />
        </div>
        <div class="col-md-6">
            <label class="control-label col">Nome do Profissional</label>
            <input type="text" id="ProfissionalInput" name="Profissional" class="form-control"
                value="@ViewBag.Profissional" value="@ViewBag.Profissional" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-primary" role="button" />
            <input type="button" value="Cancelar" class="btn btn-primary" role="button" onClick="history.go(-1)" />
            <input type="button" value="Limpar" class="btn btn-primary" role="button"
                onClick="$('form').get(0).reset()" />
        </div>
    </div>
</div>
}

@section Scripts {
<script type="text/javascript" src="~/js/atendimentonutricional.js"></script>
}