@model Antropometria

@{
ViewBag.Title = "Detalhes";
}

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="button" value="Imprimir" class="btn btn-primary" role="button"
            onClick="window.print();return false;" />
        <input type="button" value="Voltar" class="btn btn-primary" role="button" onClick="history.go(-1)" />
    </div>
</div>

<div class="form-horizontal">

     @{
        if (!String.IsNullOrEmpty(ViewBag.LogoEmpresa))
        {
            <div class="form-group row ml-1">
                <div class="col-md-4">
                    <img src="~/images/@ViewBag.LogoEmpresa" class="rounded mx-auto d-block img-max" alt="Sem foto">
                </div>
                <div class="ml-auto mr-8" style="padding-right: 15px;padding-top: 10px;">
                    <h2>Atendimento Nutricional</h2>
                </div>
            </div>
        }
    }

    <partial name="_Paciente" model="ViewBag.Paciente" />

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Classificação</label>
            <input type="text" id="ClasssificacaoInput" name="Classificacao" class="form-control"
                value="@Model.Classificacao" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">% Gordura</label>
            <input type="text" id="GorduraInput" name="Gordura" class="form-control" value="@Model.Gordura" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">% Massa muscular</label>
            <input type="text" id="MassaMuscularInput" name="MassaMuscular" class="form-control"
                value="@Model.MassaMuscular" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">% Água</label>
            <input type="text" id="AguaInput" name="Agua" class="form-control" value="@Model.Agua" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Gordura Abdominal</label>
            <input type="text" id="GorduraAbdominalInput" name="GorduraAbdominal" class="form-control"
                value="@Model.GorduraAbdominal" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Circunferência abdominal (cm)</label>
            <input type="text" id="CircunferenciaAbdominalInput" name="CircunferenciaAbdominal" class="form-control"
                value="@ViewBag.Profissional" value="@Model.CircunferenciaAbdominal" disabled />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Cintura (cm)</label>
            <input type="text" id="CinturaInput" name="Cintura" class="form-control" value="@ViewBag.Profissional"
                value="@Model.Cintura" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Quadril (cm)</label>
            <input type="text" id="QuadrilInput" name="Quadril" class="form-control" value="@ViewBag.Profissional"
                value="@Model.Quadril" disabled />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label class="control-label">Maior Peso</label>
            <input type="text" id="MaiorPesoInput" name="MaiorPeso" class="form-control" value="@Model.MaiorPeso"
                disabled />
        </div>
        <div class="col-md-6">
            <label class="control-label">Menor Peso</label>
            <input type="text" id="MenorPesoInput" name="MenorPeso" class="form-control" value="@ViewBag.Profissional"
                value="@Model.MenorPeso" disabled />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Meta</label>
            <input type="text" id="MetaInput" name="Meta" class="form-control" value="@Model.Meta" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">VET proposto (Kcal)</label>
            <input type="text" id="VETInput" name="VET" class="form-control" value="@Model.VET" disabled />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-12">
            <label class="control-label">Outras Bioimpedâncias</label>
            <textarea id="BioimpedanciasInput" name="Bioimpedancias" rows="7" class="form-control"
                disabled>@Model.BioImpedancias</textarea>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="~/js/imprimir.js"></script>
}