@model Paciente

@{
ViewBag.Title = "Paciente";
ViewData["PacienteId"] = @Model.Id;
}

@* <div class="col-md-offset-2 col-md-10">
    <input type="button" value="Voltar" class="btn btn-primary" role="button" onClick="history.go(-1)" />
    <input type="" value="Gerar receita" class="btn btn-primary" role="button" />
</div> *@


<div class="form-group">
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/@Model.Foto" class="rounded mx-auto d-block img-max" alt="Sem foto">
        </div>
        <div class="col-md-4 column-left">
            <div class="row">
                <label class="control-label">Id</label>
                <input type="text" id="Id" name="Id" class="form-control" value="@(Model.Id)" disabled />
            </div>
            <div class="row">
                <label class="control-label">Nome</label>
                <input type="text" id="NomeInput" name="Nome" class="form-control" value="@(Model.Nome)" disabled />
            </div>
            <div class="row">
                <label class="control-label">Data de Nascimento</label>
                <input type="text" id="DataNascimento" name="DataNascimento" class="form-control hasDatePicker"
                    value="@(Model.DataNascimento)" disabled />
            </div>
        </div>
        <div class="col-md-4 column-right">
            <div class="row">
                <label class="control-label">Peso</label>
                <input type="text" id="Peso" name="Peso" class="form-control" value="@(Model.Peso)" disabled />
            </div>
            <div class="row">
                <label class="control-label">Altura</label>
                <input type="text" id="Altura" name="Altura" class="form-control" value="@(Model.Altura)"
                    disabled />
            </div>
            <div class="row">
                <label class="control-label">Sexo</label>
                <input type="text" id="Sexo" name="Sexo" class="form-control" value="@(Model.Sexo)" disabled />
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4 column-left">
            <div class="row">
                <label class="control-label">Idade</label>
                <input type="text" id="Idade" name="Idade" class="form-control" value="@(Model.Idade)" disabled />
            </div>
            <div class="row">
                <label class="control-label">Status</label>
                <select name="Status" class="custom-select"
                    asp-items="Html.GetEnumSelectList<nutri.Enums.Status>()" disabled>
                    <option value="@((int)Model.Status)" selected>@(Model.Status)</option>
                </select>
            </div>
            <div class="row">
                <label class="control-label">Adequação do peso</label>
                <input type="text" class="form-control" id="AdequacaoPeso" name="AdequacaoPeso" disabled />
            </div>
            <div class="row">
                <label class="control-label">Relação cintura-quadril</label>
                <input type="text" class="form-control" id="RelacaoCinturaQuadril" name="RelacaoCinturaQuadril"
                    disabled />
            </div>

        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label">Peso Ideal</label>
                <input type="text" class="form-control" id="PesoIdeal" name="PesoIdeal" disabled />
            </div>
            <div class="row">
                <label class="control-label">Peso ajustado</label>
                <input type="text" class="form-control" id="PesoAjustado" name="PesoAjustado" disabled />
            </div>
            <div class="row">
                <label class="control-label">IMC</label>
                <input type="text" class="form-control" id="IMC" name="IMC" disabled />
            </div>
            <div class="row">
                <label class="control-label">GET Gasto Energético Total</label>
                <input type="text" class="form-control" id="GastoEnergeticoTotal" name="GastoEnergeticoTotal"
                    disabled />
            </div>

        </div>
        <div class="col-md-4 column-right">
            <div class="row">
                <label class="control-label">Peso corrigido</label>
                <input type="text" class="form-control" id="PesoCorrigido" name="PesoCorrigido" disabled />
            </div>
            <div class="row">
                <label class="control-label">Peso estimado</label>
                <input type="text" class="form-control" id="PesoEstimado" name="PesoEstimado" disabled />
            </div>
            <div class="row">
                <label class="control-label">Altura estimada</label>
                <input type="text" class="form-control" id="AlturaEstimada" name="AlturaEstimada" disabled />
            </div>
        </div>
    </div>

    <div class="row">
        <button id="btn_pacientesAtendimentos" class="accordion">Atendimentos Nutricionais</button>
        <div class="panel">
            @await Component.InvokeAsync("Atendimentos", @Model.Id)
        </div>
        <button id="btn_pacientesAntropometrias" class="accordion">Antropometrias</button>
        <div class="panel">
            <h5></h5>
            @await Component.InvokeAsync("Antropometria", @Model.Id)
        </div>
        <button id="btn_pacientesHabitos" class="accordion">Registros de Hábitos</button>
        <div class="panel">
            <h5></h5>
            @await Component.InvokeAsync("Habitos", @Model.Id)
        </div>
    </div>

    @section Scripts {
    <script type="text/javascript" src="../../docs/calculos.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/pacientes.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/atendimentonutricional.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/antropometria.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/habitos.js" asp-append-version="true"></script>
    }

    <style>
        body::-webkit-scrollbar {
            width: 0 !important
        }
    </style>